<form [formGroup]="applicationForm" (ngSubmit)="onSubmit(applicationForm)"
      *ngIf="applicationChanges | async as application">
  <customer [parentForm]="applicationForm"
            [customerWithContacts]="application.applicant"
            [readonly]="readonly"
            [showPropertyDeveloper]="true"
            [contactRequired]="true"
            [pendingInfo]="pendingCustomerInfo$ | async"></customer>

  <customer *ngIf="hasPropertyDeveloper"
            [parentForm]="applicationForm"
            [customerWithContacts]="application.propertyDeveloper"
            [readonly]="readonly"></customer>

  <customer [parentForm]="applicationForm"
            [customerWithContacts]="application.contractor"
            [readonly]="readonly"
            [showRepresentative]="true"
            [contactRequired]="true"></customer>

  <customer *ngIf="hasRepresentative"
            [parentForm]="applicationForm"
            [customerWithContacts]="application.representative"
            [readonly]="readonly"></customer>

  <div class="row">
    <div class="col m12">
      <allu-card>
        <mat-card-title>Liikennejärjestelyn voimassaolo</mat-card-title>
        <mat-card-content>
          <div class="row form-group">
            <div formGroupName="validityTimes" class="col s6">
              <div class="col s6">
                <mat-form-field class="input-full-width">
                  <input matInput type="text" formControlName="startTime" placeholder="Voimassaolon aloitus*"
                         [matDatepicker]="startTimePicker"/>
                  <mat-datepicker-toggle matSuffix [for]="startTimePicker"
                                         [disabled]="readonly"></mat-datepicker-toggle>
                  <mat-datepicker #startTimePicker></mat-datepicker>
                  <mat-hint>
                    <field-error [form]="applicationForm.get('validityTimes')" field="startTime" hasError="required">
                      {{'application.trafficArrangement.field.validityStartTimeMissing' | translation}}
                    </field-error>
                    <field-error [form]="applicationForm" field="validityTimes" hasError="startBeforeEnd">
                      {{'application.trafficArrangement.field.validityStartBeforeEnd' | translation}}
                    </field-error>
                  </mat-hint>
                </mat-form-field>
              </div>
              <div class="col s6">
                <mat-form-field class="input-full-width">
                  <input matInput type="text" formControlName="endTime" placeholder="Voimassaolon lopetus*"
                         [matDatepicker]="endTimePicker"/>
                  <mat-datepicker-toggle matSuffix [for]="endTimePicker" [disabled]="readonly"></mat-datepicker-toggle>
                  <mat-datepicker #endTimePicker></mat-datepicker>
                  <mat-hint>
                    <field-error [form]="applicationForm.get('validityTimes')" field="endTime" hasError="required">
                      {{'application.trafficArrangement.field.validityEndTimeMissing' | translation}}
                    </field-error>
                  </mat-hint>
                </mat-form-field>
              </div>
            </div>
          </div>
        </mat-card-content>
      </allu-card>
    </div>
  </div>

  <div class="row">
    <div class="col m12">
      <allu-card>
        <mat-card-title>Liikennejärjestelyn tiedot</mat-card-title>
        <mat-card-content>
          <div class="row form-group">
            <div class="col m12">
              <default-text formControlName="trafficArrangements"
                  [applicationType]="application.type"
                  [readonly]="readonly"
                  [textType]="'TRAFFIC_ARRANGEMENT'"
                  [includeTypes]="['TRAFFIC_ARRANGEMENT']"></default-text>
            </div>
          </div>
          <div class="row">
            <div class="col m12">
              <mat-button-toggle-group formControlName="trafficArrangementImpedimentType">
                <mat-button-toggle value="NO_IMPEDIMENT">
                  {{'application.trafficArrangementImpedimentType.NO_IMPEDIMENT' | translation}}
                </mat-button-toggle>
                <mat-button-toggle value="INSIGNIFICANT_IMPEDIMENT">
                  {{'application.trafficArrangementImpedimentType.INSIGNIFICANT_IMPEDIMENT' | translation}}
                </mat-button-toggle>
                <mat-button-toggle value="IMPEDIMENT_FOR_HEAVY_TRAFFIC">
                  {{'application.trafficArrangementImpedimentType.IMPEDIMENT_FOR_HEAVY_TRAFFIC' | translation}}
                </mat-button-toggle>
                <mat-button-toggle value="SIGNIFICANT_IMPEDIMENT">
                  {{'application.trafficArrangementImpedimentType.SIGNIFICANT_IMPEDIMENT' | translation}}
                </mat-button-toggle>
              </mat-button-toggle-group>
            </div>

          </div>
          <div class="row form-group">
            <div class="col m12">
              <mat-form-field class="input-full-width">
                                <textarea matInput matTextareaAutosize formControlName="workPurpose"
                                          [placeholder]="'application.trafficArrangement.workPurpose' | translation"></textarea>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
      </allu-card>
    </div>
  </div>

  <div class="row" *ngIf="readonly">
    <div class="col m12">
      <location-details [application]="application" [readonly]="readonly"></location-details>
    </div>
  </div>

  <div fxLayout="row" *ngIf="showTerms">
    <div fxFlex>
      <allu-card>
        <mat-card-title>{{'TERMS.title' | translation}}</mat-card-title>
        <mat-card-content>
          <default-text formControlName="terms"
                        [applicationType]="application.type"
                        [readonly]="readonly"
                        [textType]="'TERMS'"
                        [includeTypes]="['TERMS']"></default-text>
        </mat-card-content>
      </allu-card>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <distribution
        [form]="applicationForm"
        [application]="application"
        [distributionList]="distribution$ | async"
        [readonly]="readonly"
        (distributionChange)="saveDistribution($event)"></distribution>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <application-actions
        [readonly]="readonly"
        [valid]="applicationForm.valid"
        [informationRequest]="informationRequest$ | async"
        [pendingClientData]="pendingClientData$ | async"
        [pendingInformationRequestResponse]="pendingInformationRequestResponse$ | async"
        [submitPending]="submitPending"></application-actions>
    </div>
  </div>
</form>
