@mixin information-request-status-theme($theme, $success, $basic) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  information-request-status,
  information-request-status .mat-toolbar {
    background: mat-color($primary, 50);
    color: mat-color($primary, 500);
  }

  information-request-status .mat-progress-bar-background {
    fill: transparent;
  }

  .active .mat-progress-bar-fill::after {
    background-color: mat-color($accent, 500);
  }

  .active .mat-progress-bar-buffer {
    background: mat-color($accent, 500, 0.5);
  }

  .closed .mat-progress-bar-fill::after {
    background-color: map-get($basic, 500);
  }

  .connection.connection-active {
    border-color: mat-color($accent, 500);
  }

  .connection.connection-closed {
    border-color: map-get($basic, 500);
  }
}
