@import 'colors';
@import 'marker-cluster';
@import 'variables';

input[type="radio"]:not(:checked).leaflet-control-layers-selector,
input[type="radio"]:checked.leaflet-control-layers-selector,
input[type="checkbox"]:not(:checked).leaflet-control-layers-selector,
input[type="checkbox"]:checked.leaflet-control-layers-selector {
  left: 0;
  opacity: 1;
  position: relative;
}

.map {
  height: 100%;
}

.leaflet-container .allu-map-popup a.leaflet-popup-close-button {
  top: 2px;
  right: 4px;
  color: mat-contrast($allu-primary, 500);
  font-size: 20px;
}

.allu-map-popup .leaflet-popup-content-wrapper {
  padding: 0 0 1px;

  .leaflet-popup-content {
    margin: 0;
    min-width: 200px;
    width: auto !important;
  }
}

img.leaflet-marker-icon {
  width: 15px !important;
  height: 20px !important;
  margin-left: -7px !important;
  margin-top: -20px !important;
}

/* Change cursor when mousing over clickable layer */
.leaflet-clickable {
  cursor: pointer;
}
/* Change cursor when over entire map */
.map.leaflet-container {
  cursor: default;
}

.leaflet-control-layers-group:not(:last-of-type) {
  border-bottom: 1px solid #ddd;
}

.allu-simple-label {
  background: $white-87-opacity;
  font-weight: bold;
  border-radius: 12px;
  padding: 5px 16px;
  overflow-wrap: normal;
  width: max-content !important;
  height: max-content !important;
  min-width: 100px;
  max-width: 150px;
  left: -65px !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.map-loading-spinner {
  z-index: $map-spinner;
  pointer-events: none;
}

.map-top-control {
  max-width: 220px;
}
