<button
  *ngIf="showSelectAll"
  type="button"
  class="button-link"
  (click)="selectAll()">
  {{'common.selectAll' | translation}}
</button>
<mat-selection-list #selectionList>
  <mat-list-option
    *ngFor="let description of descriptions"
    checkboxPosition="before"
    [value]="description.field"
    [disabled]="isSelected(description.field)"
    [class.map-container]="description.type==='GEOMETRY'">
    <div fxLayout="row" fxLayoutAlign="start center">
      <div fxFlex *ngIf="description.type==='GEOMETRY'; else textField">
        <simple-map
          [mapId]="'map-' + id"
          [content]="getMapContent(description.field)"></simple-map>
      </div>
      <ng-template #textField>
        <div fxFlex class="text-highlighted">{{description.label}}</div>
        <div fxFlex="0 0 24px">
          <mat-icon
            color="accent"
            class="mat-icon-18"
            *ngIf="fieldHasChange(description.field)"
            [matTooltip]="'informationRequest.field.valueDiffers' | translation">warning</mat-icon>
        </div>
        <div fxFlex [class.value-change]="fieldHasChange(description.field)">
          <field-value
            [field]="description.field"
            [value]="fieldValues[description.field]"
            [meta]="meta"></field-value>
        </div>
      </ng-template>
    </div>
  </mat-list-option>
</mat-selection-list>
